AI_API_KEY=
AI_MODEL=
LOG_LEVEL=info
LOG_MAX_LENGTH=2048
LOG_OBFUSCATE_KEYS=password,token,secret,authorization,apiKey,creditCard,cvv,dni,cedula
LOG_OBFUSCATION_ENABLED=true
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_FREE_CONTRACTS_LIMIT=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
WOMPI_CHECKOUT_URL=
WOMPI_EVENT_SECRET=
WOMPI_INTEGRITY_SECRET=
WOMPI_PRIVATE_KEY=
WOMPI_PUBLIC_KEY=
